p {
	font-family: Calibri Light;
	font-size: 14px;
}

#view1, #view2, #view3, #view4 {
	font-family: Calibri Light;
	font-size: 12px;
}


h1{
	font-family:`Castellar, Cambria;
}

h2{
	font-family: Calibri Light;
	}

h3{
	font-family:Tahoma;
}